@import url(http://fonts.googleapis.com/css?family=Varela+Round);

/* opmaak css */
body {
  margin:0;
}

p {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #6F6F6E;
    line-height: 22px;
}

h1 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    color: #6F6F6E;
}

header {
    box-shadow: 0px 2px 8px #999;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

#headerWrapper {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    max-width:1000px;
    height: 88px;   
}

#headerLogo {
    height: auto;
    max-width: 320px;
    margin-top: 28px;
}


nav ul li a {
  text-decoration: none;
  color: #9c9b9b;
}

nav ul li a:link {

}

nav ul li a:visited {

}
nav ul li a:hover {
    font-weight: 700;
}
nav ul li a:active {
    font-weight: 700;
}

nav ol, ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: block;
}

nav li {
    display: block;
    float: left;
    margin-left: 40px
}

nav {
    display: block;
    float: right;
    margin-top: 51px;
}
nav li {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color: #9c9b9b;
}

main {
    padding-top: 88px;
}
article {
    padding: 70px;
}

#homePage {
    background-color: #E2EBF8;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

#hoeWerkt {
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
}

#dropBox {
    background-color: #E2EBF8;
    width: 1000px;
    margin: 0 auto;
}

#contact {
    background-color: #fff;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}

.contentWrapper {
    display: inline-block;
    height: 100%;
}

.hpContent {
  display: block;
  width: calc(100% / 3 - 80px);
  float: left;
  margin: 0 40px;
  text-align: center;
}

.hpImg {
    margin-bottom: 20px;
}


/* fade in css */
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay:1.2s;
    animation-delay: 1.2s;
}

.fade-in.three {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

/* slider */
.slides {
    padding: 0;
    width: 1000px;
    height: 378px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 1000px;
    height: 378px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: 'Varela Round', sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}/* end off slider css */